*,
*::before
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary:'Lato', sans-serif;
    --ff-secondary:'Urbanist', sans-serif;

    --fw-reg: 300;
    --fw-bold:900;

    --clr-light: rgb(102, 192, 228);
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1: 3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs: 0.25em .25em .75em rgba (0,0,0,.25),
          .125em .125em .25em rgba (0,0,0,.15) ;

}

@media (min-width:800px){
:root{
    --fs-h1:4.5rem;
    --fs-h2:3.75rem;
    --fs-h3:1.5rem;
    --fs-body:1.125rem;
    }

}

/* General styles */
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height:2.0;

}




section{
  padding: 5em 2em;
}


img{
  display: block;
  max-width: 100%;
}

strong{font-weight: var(--fw-bold);}

/* typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section-title{
margin-bottom: .25em;
}

.section-title section{
  font-weight: var(--fw-reg);
}

.section-title section strong{
  display: block;
}


.section-subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about{
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
margin-bottom:1em ;
}

/* header */

/* nav {display: none;} */



/* Intro section */

.intro {
  position: relative;
}

.intro-img{
  box-shadow: var(--bs);
}


@media (min-width: 600px){
.intro{
  display: grid;
  width: min-content;
  margin: 0 auto;
  grid-column-gap: 1em;
  grid-template-areas: "img title"
  "img subtitle";
  grid-template-columns: min-content max-content;
  
}

}


.intro-img{
  grid-area:img;
  min-width: 250px;
  position: relative;
  z-index: 2;
}

.section-subtitle-intro{
  align-self: start;
  grid-column: -1/1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}



/* my services */
.my-services{
  background-color: var(--clr-dark);
/* background-image: ; */
  color: var(--clr-light);
}











/* <header>
        <h1><strong>Gideon Razzaq's Portfolio<strong></h1>

    </header>
  <h2 id=contact-heading>About Me</h2>
<aside>
  <h3 id=portfolio-links>Portfolio Links</h3>
    <ul>
<li id="Email"><a href="https://www.google.com"><b>Email:gideonrazzaq1158@gmail.com</b></a></li>
</li>

    </ul>
    <main>
    <section><section class="card">
        <header><hover>GitHub</hover></header>
        <img src="https://github.com/" alt="portfolio" />
        <p>Price: $300</p>
      </section>
      <section class="card">
        <header>Tablet</header>
        <img src="./assets/images/tablet.jpg" alt="tablet" />
        <p>Price: $150</p>
      </section>
      <section class="card">
        <header>Toilet Paper</header>
        <img src="./assets/images/toilet-paper.jpg" alt="toilet paper" />
        <p>Price: $30</p>
</aside>
</main>



</body>
</html> */